@import "./../../../../styles.scss";

.food-container-child {
  display: none;
  position: relative;
  border: 2px solid black;
  margin-top: 1px;
  border-radius: 20px;
  @include dflexColumn($jc: unset);
  background-color: aliceblue;
  width: 97vw;
  animation: scaleInAnimation 0.25s ease-in-out forwards;
  > h3 {
    padding: 10px;
    border-radius: 10px;
    margin-block: 12px;
    background-color: antiquewhite;
    filter: drop-shadow(2px 4px 6px black);
  }
}
.food-container-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  border-radius: 20px;
}

@keyframes scaleInAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

button {
  position: absolute;
  top: 0;
  right: 0;
  @include closeButtonSettings(
    $br: 18px,
    $brBottomLeft: 18px,
    $height: 55px,
    $width: 55px
  );

  > img {
    width: 100%;
    height: 100%;
  }

  :active {
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: red;
    border-radius: 0 18px 0 18px;
  }
}

.all-toppings {
  @include dflexColumn($jc: unset, $ai: unset, $g: 10px);
  margin-block: 5px;
}

.topping {
  @include dflex($jc: space-between, $g: 10px);
  background-color: #e3c296;
  font-size: 17px;
  border-radius: 10px;
  padding: 4px;
  filter: drop-shadow(2px 4px 6px black);
  border: 1px solid black;
}

.topping-left {
  @include dflex($g: 10px);
  > label input {
    transform: scale(1.5);
    cursor: pointer;
  }
  > p {
    max-width: 200px;
  }
}

.increase-decrease-amount {
  @include dflex($g: 10px);
  margin-block: 10px;
  border: 1px solid lightslategray;
  border-radius: 50px;
  padding-right: 10px;
  background-color: #e3c296;
  filter: drop-shadow(2px 4px 6px black);
  > img {
    width: 55px;
    cursor: pointer;
  }
}

.pulse {
  animation: pulse 0.2s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.current-amount {
  @include dflex($g: 8px);
  font-size: 17px;
}
.current-amount-number {
  font-weight: bold;
  font-size: 19px;
}

.show-dish-price {
  @include dflex($jc: space-between);
  width: -webkit-fill-available;
  background-color: antiquewhite;
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
  border-top: 2px solid black;
  > p {
    font-size: 19px;
  }
  > p:nth-of-type(2) {
    font-weight: bold;
  }
  > img {
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
    /* background-color: lightgreen; */
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    /*  &:hover {
      background-color: darkgreen;
    } */
    /*   &:active {
      transform: scale(0.7);
      background-color: darkgreen;
    } */
  }
}

.backgroundFoodClassTX {
  background-image: url("./../../../../assets/img/backgroundTX.jpg");
}

.backgroundFoodClassGR {
  background-image: url("./../../../../assets/img/santorini.jpg");
}

.backgroundFoodClassPITA {
  background-image: url("./../../../../assets/img/catBackground.jpg");
  background-position-x: center;
}

.backgroundFoodClassS {
  background-image: url("./../../../../assets/img/Akropolis.jpg");
  background-position-x: -300px;
}

.backgroundFoodClassGY {
  background-image: url("./../../../../assets/img/Zakynthos.jpg");
  background-size: cover;
}

.backgroundFoodClassK {
  background-image: url("./../../../../assets/img/backgroundFoodClassK.jpg");
  background-size: cover;
  background-position-x: -15px;
}

.backgroundFoodClassGYSP {
  background-image: url("./../../../../assets/img/backgroundFoodClassGYSP.jpg");
  background-size: cover;
  background-position: right;
}

.backgroundFoodClassBUR {
  background-image: url("./../../../../assets/img/backgroundFoodClassBUR.jpg");
  background-size: cover;
  background-position-x: -120px;
  background-position-y: 10px;
}

.backgroundFoodClassGYSA {
  background-image: url("./../../../../assets/img/backgroundFoodClassGYSA.jpg");
  background-size: cover;
}

.backgrondFoodClassPITAVEG {
  background-image: url("./../../../../assets/img/backgroundFoodClassPITAVEG.jpg");
  background-position-x: -5px;
}

.backgroundFoodClassCP {
  background-image: url("./../../../../assets/img/backgroundFoodClassCP.jpg");
}

@mixin surroundingDiv($fd: column) {
  display: flex;
  flex-direction: $fd;
  width: 50vw;
  border: 1px solid lightcyan;
  border-radius: 10px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: fit-content;
}

@mixin surroundingDivLabel() {
  background-color: aliceblue;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  padding: 2px;
}

/* ============
MEDIA-QUERIES
===============*/
@media (min-width: 420px) {
  .food-container-child {
    width: 420px;
  }
}

@media (min-width: 680px) {
  .food-container-child {
    border: none;
  }
}
