<main
  #Child_Container
  class="food-container-child"
  [ngClass]="getFoodClassBackground()"
>
  <h3>Bitte wählen:</h3>
  <img
    (click)="closeChildContainer()"
    class="close-button"
    src="./../../../../assets/img/icons8-close-50.png"
  />

  <app-bifteki-selection
    *ngIf="dish.foodClass === 'BIF'"
    [dish]="dish"
    [foodContainerindex]="foodContainerindex"
  ></app-bifteki-selection>

  <app-salad-selection
    *ngIf="
      dish.foodClass === 'GR' ||
      dish.foodClass === 'GYSA' ||
      dish.foodClass === 'BIF'
    "
    [dish]="dish"
    [foodContainerindex]="foodContainerindex"
  ></app-salad-selection>

  <app-gyros-special-selection
    *ngIf="dish.foodClass === 'GYSP'"
    [dish]="dish"
    [foodContainerindex]="foodContainerindex"
  ></app-gyros-special-selection>

  <app-sides-selection
    *ngIf="dish.foodClass === 'S' || dish.foodClass === 'GYSP'"
    [dish]="dish"
    [foodContainerindex]="foodContainerindex"
    (selectedValueChange)="handleSelectedValueChange($event)"
  ></app-sides-selection>

  <section class="all-toppings">
    <div
      class="topping"
      *ngFor="let topping of getFoodClassContent(); let i = index"
    >
      <div class="topping-left">
        <label for="Topping_{{ foodContainerindex }}{{ i }}">
          <input
            type="checkbox"
            id="Topping_{{ foodContainerindex }}{{ i }}"
            (change)="onCheckboxChange($event, topping)"
          />
        </label>
        <p>{{ topping.title }}</p>
      </div>
      <div>
        <p>{{ getToppingPrice(topping.price) }}</p>
      </div>
    </div>
  </section>

  <section class="increase-decrease-amount">
    <img
      src="../../../../assets/img/icons8-minus-48.png"
      (click)="decreaseAmount()"
      (touchstart)="scaleUp($event)"
      (touchend)="scaleDown($event)"
    />
    <img
      src="./../../../../assets/img/icons8-plus-48.png"
      (click)="increaseAmount()"
      (touchstart)="scaleUp($event)"
      (touchend)="scaleDown($event)"
    />
    <div class="current-amount">
      <p>Menge:</p>
      <p class="current-amount-number">{{ amount }}</p>
    </div>
  </section>

  <section class="show-dish-price">
    <p>In den Warenkorb</p>
    <p>{{ itemPrice() }} €</p>
    <img src="./../../../../assets/img/icons8-plus-40.png" />
  </section>
</main>
