<main
  class="food-container-child"
  [style.backgroundImage]="'url(' + getFoodClassBackground() + ')'"
>
  <h3>Bitte wählen:</h3>
  <img
    (click)="closeChildContainer()"
    class="close-button"
    src="./../../../../assets/img/icons8-close-50.png"
  />

  <app-salad-selection
    *ngIf="dish.foodClass === 'GR'"
    [dish]="dish"
    [foodContainerindex]="foodContainerindex"
  ></app-salad-selection>

  <section class="all-toppings">
    <div
      class="topping"
      *ngFor="let topping of getFoodClassContent(); let i = index"
    >
      <div class="topping-left">
        <label for="Topping_{{ foodContainerindex }}{{ i }}">
          <input type="checkbox" id="Topping_{{ foodContainerindex }}{{ i }}" />
        </label>
        <p>{{ topping.title }}</p>
      </div>
      <div>
        <p>{{ getToppingPrice(topping.price) }}</p>
      </div>
    </div>
  </section>

  <section class="increase-decrease-amount">
    <img src="../../../../assets/img/icons8-minus-48.png" />
    <img src="./../../../../assets/img/icons8-plus-48.png" />
    <div class="current-amount">
      <p>Aktuelle Anzahl:</p>
      <p>1</p>
    </div>
  </section>

  <section class="show-dish-price">
    <p>In den Warenkorb</p>
    <p>{{ dish.price.toFixed(2).replace(".", ",") }} €</p>
    <img src="./../../../../assets/img/icons8-plus-40.png" />
  </section>
</main>
