@import "../../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish-container {
  /* background-color: lightblue; */
  background-color: lightpink;
  width: 320px;
  border-radius: 10px;
  @include dflex($jc: space-between, $ai: unset);
  min-height: 90px;
  border: 1px solid black;
  background-size: cover;
  background-position-y: center;
}

.right {
  @include dflex($jc: unset, $ai: flex-start);
  > img {
    width: 55px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    border-radius: 0px 10px 0px 10px;
    &:hover {
      background-color: white;
    }
    &:active {
      background-color: lightgreen;
    }
  }
}

.left {
  max-width: 75%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  > h1 {
    font-size: 21px;
  }
}

.withoutDescription {
  @include dflex($jc: space-between, $ai: unset);
  flex-direction: column;
}

.center-screen {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 4px 6px black);
}

.background-div-large-screen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============
  MEDIA - QUERIES
  ===============*/
/* @media (min-width: 1024px) {
  main {
    filter: drop-shadow(2px 4px 6px black);
  }
} */
