<header #Header>
  <img src="./assets/img/papa.png" />

  <!-- <img src="/assets/img/hamburgerMenu.png" class="hamburger-menu-icon" /> -->
  <!-- <nav>
      <a href="#">Online vorbestellen</a>
      <a href="#">Öffnungszeiten</a>
      <a href="#">Kontakt</a>
      <a href="#">Anfahrt</a>
    </nav> -->
  <nav>
    <div class="navbar">
      <div class="container nav-container">
        <input
          class="checkbox"
          type="checkbox"
          (change)="onCheckboxChange($event)"
          name=""
          id=""
        />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <div class="menu-items">
          <li><a href="#">Startseite</a></li>
          <li><a href="#">Zum Abholen vorbestellen</a></li>
          <li><a href="#">Über uns</a></li>
          <li><a href="#">Kontakt & Anfahrt</a></li>
        </div>
      </div>
    </div>
  </nav>
</header>
