<header #Header>
  <img src="./assets/img/papa.png" />

  <nav *ngIf="!screenIsLarge()">
    <div class="navbar">
      <div class="container nav-container">
        <input
          class="checkbox"
          type="checkbox"
          (change)="onCheckboxChange($event)"
          [(ngModel)]="menuOpen"
          name=""
          id=""
        />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <div class="menu-items">
          <li>
            <a (click)="navigateToPreOrder(); closeMenu()"
              >Zum Abholen vorbestellen</a
            >
          </li>
          <li><a (click)="closeMenu()">Kontakt & Anfahrt</a></li>
        </div>
      </div>
    </div>
  </nav>

  <nav *ngIf="screenIsLarge()">
    <div class="menu-large-screen">
      <p (click)="navigateToPreOrder()">Zum Abholen vorbestellen</p>
      <p href="">Kontakt & Anfahrt</p>
    </div>
  </nav>
</header>
