<main>
  <section class="main-dish-information">
    <div class="amount-and-name">
      <p>{{ dish.amount }}x</p>
      <p>{{ dish.title }}</p>
    </div>
    <div class="topping-information">
      <p>{{ getToppings() }}</p>
    </div>
  </section>

  <section>
    <div class="change-amount-and-item-price">
      <div>
        <p class="item-price">{{ itemPrice() }} €</p>
      </div>

      <div class="increase-and-decrease-amount">
        <img
          (click)="deleteItem()"
          *ngIf="dish.amount === 1; else minusBlock"
          src="/assets/img/icons8-trash-26.png"
        />
        <ng-template #minusBlock>
          <img
            src="/assets/img/icons8-minus-48.png"
            (click)="decreaseItemAmount()"
          />
        </ng-template>
        <img
          src="/assets/img/icons8-plus-48.png"
          (click)="increaseItemAmount()"
        />
      </div>
    </div>
  </section>
</main>
