main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: aliceblue;
  min-height: 50px;
  > section {
    display: flex;
    justify-content: space-between;
  }
}

.main-dish-information {
  font-size: 18px;
  font-weight: bold;
  padding-inline: 5px;
}

.topping-information {
  padding-left: 32px;
  font-size: 15px;
  color: darkslategray;
}

.amount-and-name {
  display: flex;
  gap: 5px;
}

.increase-and-decrease-amount {
  display: flex;
  gap: 5px;
  > img {
    width: 30px;
    height: 30px;
  }
}

.change-amount-and-item-price {
  display: flex;
  align-items: center;
  gap: 25px;
  &.decrease-gap {
    gap: 5px;
  }
}

.toppings {
  border-top: 1px solid black;
}
