main {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: aliceblue;
  min-height: 50px;
  > section {
    display: flex;
    justify-content: center;
  }
}

.main-dish-information {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  > :first-child {
    font-weight: bold;
    font-size: 18px;
  }
  > :last-child {
    font-size: 15px;
  }
}

.topping-information {
  padding-left: 28px;
  font-size: 15px;
  color: darkslategray;
}

.amount-and-name {
  display: flex;
  gap: 5px;
}

.increase-and-decrease-amount {
  display: flex;
  gap: 5px;
  > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    :hover {
      transform: scale(1.2);
    }
  /*   &:active {
      transform: scale(1.2);
    } */
  }
}

.change-amount-and-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > p {
    font-weight: bold;
  }
}

.item-price {
  font-weight: bold;
  font-size: 18px;
}

.toppings {
  border-top: 1px solid black;
}

/* ===========
MEDIA - QUERIES
===============*/
@media (min-width: 1024px) {
  main {
    border-radius: 5px;
    margin-left: 2px;
  }
}
