<div class="wrapper">
  <main>
    <h1>Meine Bestellungen</h1>

    @if (orderService.myOrders.length === 0) {
    <h4>NOCH KEINE BESTELLUNGEN</h4>
    }@else {
    <section class="all-orders">
      @for (order of orderService.myOrders; track $index) {
      <section class="one-order">
        <div class="left">
          <span>
            <h4>{{ order.timestamp | date : "dd.MM.yyyy" }}</h4>
            <p>{{ order.timestamp | date : "HH:mm" }}</p>
          </span>
          @for (dish of order.order; track $index) {
          <app-order [dish]="dish"></app-order>
          @if ($index < order.order.length -1) {
          <p class="divider-thin"></p>
          } }
          <p class="divider"></p>
          <div class="order-footer">
            <span>
              <h4>Status:</h4>
              <p>{{ order.status }}</p>
            </span>
            <span>
              <h4>Gesamt:</h4>
              <p>{{ calculateTotalPrice(order) | euroCurrency }}€</p>
            </span>
          </div>
        </div>
      </section>
      }
    </section>
    }
  </main>
</div>
