@import "../../styles.scss";

.wrapper {
  min-height: calc(100vh - 317px);
  > main {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    flex: 1; // Fügen Sie diese Zeile hinzu, um sicherzustellen, dass main den verfügbaren Platz einnimmt
    /* overflow: hidden; */
  }
}

h1,
p,
h4 {
  margin: 0;
}

h1 {
  font-size: clamp(21px, 4vw, 26px);
  padding: 10px;
  background: rgb(55, 103, 189);
  color: white;
  border-radius: 50px;
}

.all-orders {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  overflow-y: auto;
  flex: 1;
  >app-order{
    &:first-child {
    margin-top: 16px;
  }
  &:last-child {
    margin-bottom: 16px;
  }
  }
}
