.wrapper {
  height: calc(100vh - 317px);
  > main {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
  }
}

h1,
p,
h4 {
  margin: 0;
}

h1 {
  /* width: fit-content; */
  font-size: clamp(21px, 4vw, 26px);
  padding: 10px;
  background: rgb(55, 103, 189);
  color: white;
  border-radius: 50px;
}

.all-orders {
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: aliceblue;
    padding-left: 24px;
    &:first-child {
      margin-top: 16px;
    }
  }
}
