<div class="wrapper">
  @if (isLoading) {
  <div class="progress-spinner">
    <p-progressSpinner ariaLabel="loading" />
  </div>
  }@else{
  <main>
    <h1>Meine Bestellungen</h1>

    @if (orderService.myOrders.length === 0) {
    <h4>NOCH KEINE BESTELLUNGEN</h4>
    }@else {
    <section class="all-orders">
      @for (order of paginatedOrders; track $index) {
      <app-order
        [order]="order"
      ></app-order>
      }
    </section>
    }
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="orderService.myOrders.length"
      [showFirstLastIcon]="false"
      styleClass="paginator"
    />
  </main>
  }
</div>
