<app-food-menu-nav
  style="flex-grow: 1"
  (foodTypeString)="renderFoodTypeSection($event)"
></app-food-menu-nav>
<section class="meal-section">
  <div
    *ngFor="let dish of getFoodTypeList(); let i = index"
    class="arrange-food-container"
  >
    <app-food-container [dish]="dish" [index]="i"></app-food-container>
  </div>
</section>
<app-shopping-basket
  *ngIf="showShoppingBasket"
  (close)="toggleShoppingBasket()"
></app-shopping-basket>

<button
  *ngIf="preorderdata.totalItemAmount > 0"
  class="redirect-to-shopping-basket-button"
  (click)="toggleShoppingBasket()"
>
  <p>Bestellung</p>
  <img src="./../../../../assets/img/shopping-basket.png" />
  <p class="total-item-amount">{{ preorderdata.totalItemAmount }}</p>
</button>

<!-- (shoppingBasketReady)="onShoppingBasketReady($event)" -->
