@import "../../../styles.scss";

.meal-section {
  @include dflex($g: 20px);
  flex-direction: column;
  padding-block: 20px;
  background-color: floralwhite;
}

.redirect-to-shopping-basket-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  @include dflex($g: 10px);
  background-color: rgb(55, 103, 189);
  border-radius: 20px 20px 0 0;
  padding: 10px;
  filter: drop-shadow(2px 4px 6px black);
  > p {
    font-size: 20px;
    font-weight: bold;
  }
  > p:last-child {
    font-size: 15px;
  }
  > :first-child {
    color: white;
  }

  > div {
    display: flex;
    > img {
      width: 30px;
    }
    > p {
      font-size: 21px;
      border: 1px solid black;
      background: wheat;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      @include dflex();
    }
  }
}

.redirect-to-shopping-basket-button:active {
  background-color: rgba(0, 0, 0, 0.7);
}

/* ============
MEDIA - QUERIES
================*/
@media (min-width: 450px) {
  .redirect-to-shopping-basket-button {
    width: 350px;
    margin: auto;
  }
}

@media (min-width: 680px) {
  .meal-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    gap: 4vw;
    flex-grow: 1;
  }
  
  app-food-menu-nav {
    flex-grow: unset;
  }

  .redirect-to-shopping-basket-button {
    top: 0;
    bottom: unset;
    border-radius: 0 0 20px 20px;
  }
}
