@import "./../../../styles.scss";

.inputfield {
  @include inputfield();
}

main {
  @include dflexColumn();
}

.password-requirements {
  position: absolute;
  bottom: 45px;
  height: 150px;
  background: $main-color;
  color: white;
  font-weight: bold;
  width: 110%;
  border-radius: 20px;
  padding: 5px;
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}

/* ============
MEDIA - QUERIES
==============*/
@media (min-width: 450px) {
  .inputfield {
    filter: unset;
  }
}
