<div class="position">
  <main>
    <div class="headline">
      <h1>OLYMPIA - GRILL</h1>
      <h2>HOLZWICKEDE</h2>
    </div>

    <h2 class="log-in">Anmeldung</h2>

    <form onsubmit="logInUser(); return false" class="form">
      <input type="email" placeholder="E-Mail" />
      <input type="password" placeholder="Passwort"/>
      <div class="log-in-button">
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>login</mat-icon>
        </button>
        <button
          mat-flat-button
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="navigateToPreOrder()"
        >
          Guest Log-In
        </button>
      </div>
    </form>
    <div class="not-registered-yet-div">
      <p>Noch nicht registriert?</p>
      <a href="register">Registrieren</a>
    </div>
  </main>
</div>
