<div class="position">
  <section class="headline">
    <h1>OLYMPIA - GRILL</h1>
    <h2>HOLZWICKEDE</h2>
  </section>
  <main>
    <section class="log-in">
      <h2 class="headline-log-in">Anmeldung</h2>

      <form onsubmit="logInUser(); return false" class="form">
        <div class="inputfield">
          <input type="email" placeholder="E-Mail" />
          <img src="./../../assets/img/register-email.png" />
        </div>
        <div class="inputfield">
          <input type="password" placeholder="Passwort" />
          <img src="./../../assets/img/register-password.png" />
        </div>

        <div class="log-in-button">
          <img src="./../../assets/img/log-in.png" />
          <button (click)="navigateToPreOrder()">Als Gast anmelden</button>
        </div>
      </form>
    </section>
    <div class="not-registered-yet-div">
      <p>Noch nicht registriert?</p>
      <a (click)="navigateToRegister()">Registrieren</a>
    </div>
  </main>
</div>
