@import "../../styles.scss";

.position {
  height: 100vh;
  width: 100vw;
  @include dflex();
  background-image: url("../../assets/img/logIn-background.png");
  background-position-x: center;
  background-position-y: -260px;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  > main {
    width: 500px;
    @include dflexColumn($g: 30px);
  }
}

.headline {
  position: absolute;
  top: 20px;
  @include dflexColumn($g: 5px);
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-inline: 10px;
  > h1 {
    font-size: clamp(35px, 4vw, 40px);
  }
}

.log-in {
  @include dflexColumn($g: 15px);
}

.headline-log-in {
  padding: 10px;
  border-radius: 10px 0 10px 0;
  background-color: $main-color;
  color: white;
}

.color {
  color: $main-color;
}

.log-in-button {
  @include dflex($g: 24px);
  filter: drop-shadow(2px 4px 6px black);
  > img {
    background: gray;
    border-radius: 32px;
    &:hover {
      background-color: darkblue;
    }
    &:active {
      background-color: darkblue;
    }
  }
  > button {
    font-size: 20px;
    padding: 10px;
    background-color: $main-color;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    &:hover {
      background-color: darkblue;
    }
    &:active {
      background-color: darkblue;
    }
  }
}

form {
  @include dflexColumn($g: 20px);
  width: 100%;

  > input {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
  }
}

.inputfield {
  @include inputfield();
}

.not-registered-yet-div {
  @include dflexColumn($g: 10px);
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
  filter: drop-shadow(2px 4px 6px black);
  > a {
    text-decoration: none;
    color: whitesmoke;
    background-color: $main-color;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    &:hover {
      font-weight: bold;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  > p {
    font-size: 17px;
  }
}

.enable-logIn-button {
  background-color: green !important;
  cursor: pointer;
}

/* ===============
MEDIA - QUERIES
==================*/
@media (max-width: 800px) {
  .position {
    background-size: cover;
    background-position-x: unset;
    background-position-y: unset;
  }
}

@media (min-width: 450px) {
  .position {
    > main {
      border-radius: 20px;
      padding-block: 30px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
