@import "../../styles.scss";

.position {
  height: 100vh;
  width: 100vw;
  @include dflex();
  background-image: url("../../assets/img/logIn-background.png");
  background-position-x: center;
  background-position-y: -260px;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  > main {
    width: 500px;
    flex-direction: column;
    @include dflex($g: 30px);
    border-radius: 20px;
    padding-block: 30px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.headline {
  position: absolute;
  top: 20px;
  flex-direction: column;
  @include dflex($g: 5px);
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  > h1 {
    font-size: clamp(25px, 4vw, 40px);
  }
}

.log-in {
  padding: 10px;
  border-radius: 10px 0 10px 0;
  background-color: $main-color;
  color: white;
}

.color {
  color: $main-color;
}

.log-in-button {
  @include dflex($g: 24px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  > input {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
  }
}

.not-registered-yet-div {
  flex-direction: column;
  @include dflex($g: 10px);
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
  filter: drop-shadow(2px 4px 6px black);
  > a {
    text-decoration: none;
    color: whitesmoke;
    background-color: $main-color;
    padding: 5px;
    border-radius: 0 10px 0 10px;
    &:hover {
      font-weight: bold;
    }
  }
  > p {
    font-size: 17px;
  }
}


/* MEDIA-QUERIES */
@media (max-width: 800px) {
  .position {
    background-size: cover;
    background-position-x: unset;
    background-position-y: unset;
  }
  .headline {
    top: 100px;
  }
}
