<div class="position">
  <main>
    <div class="headline">
      <h1>OLYMPIA - GRILL</h1>
      <h2>HOLZWICKEDE</h2>
    </div>

    <h2 class="log-in">Anmeldung</h2>

    <form onsubmit="logInUser(); return false" class="form">
      <input type="email" placeholder="E-Mail" required />
      <input type="password" placeholder="Passwort" required />
    </form>
  </main>
</div>

<!-- <section id="Log_In_Background">
  <aside id="Log_In_Content" class="content">
    <span class="main-headline-span">
      <h1>Olympia-Grill</h1>
      <h2>Holzwickede</h2>
    </span>

    <h2 class="headline">Anmeldung</h2>
    <form onsubmit="logInUser(); return false" class="form">
      <input type="email" placeholder="E-Mail" id="EMail" required />
      <input
        type="password"
        placeholder="Passwort"
        id="Password"
        required
      />
      <div class="checkbox-div">
        <input type="checkbox" id="Save_Password" />
        <label for="Save_Password">Angemeldet bleiben</label>
      </div>

      <button id="LogIn_Button">Anmelden</button>
    </form>
   
    <div class="not-registered-yet-div">
      <p>Noch nicht registriert?</p>
      <a href="register.html">Registrieren</a>
    </div>
  </aside>
</section> -->
