<div class="background-div-large-screen">
  <main #Shopping_Basket>
    <section class="headline-and-closing-button">
      <h1>Bestellung:</h1>
      <button>
        <img
          src="./assets/img/icons8-close-50.png"
          (click)="closeShoppingBasket()"
        />
      </button>
    </section>

    <section class="order-overview-section">
      <div
        #Order_Overview
        class="order-overview"
        [style.border-radius]="getBorderRadius()"
      >
        <app-shopping-basket-item
          *ngFor="let dish of getShoppingBasket(); let i = index"
          [dish]="dish"
          [index]="i"
          (changedItemAmount)="onChangedItemPrice($event)"
          (removeItem)="onRemoveItem($event)"
        ></app-shopping-basket-item>
        <div class="message-shoppingBasket-empty" *ngIf="basketIsEmpty()">
          <img src="./assets/img/ShoppingBasket.png" />
          <h2>Warenkorb leer</h2>
        </div>
        <img
          src="./assets/img/ArrowBottom.png"
          #Arrow_Bottom
          class="arrow-bottom d-none"
        />
      </div>
    </section>

    @if (checkoutConditionsAreMet()) {
    <div class="minimum-order-value-notification">
      <p>Mindestbestellwert: 20 €</p>
    </div>
    }@else{
    <div class="set-pickup-time">
      <p>Gewünschte Abholzeit:</p>
      <p-dropdown
        [options]="pickUpOptions"
        [(ngModel)]="selectedTime"
        optionLabel="option"
        [placeholder]="selectedTime.option"
      />
    </div>
    }

    <button
      class="order-request-btn"
      *ngIf="!basketIsEmpty()"
      [ngClass]="{ 'ready-to-request': minOrderValue() }"
      [disabled]="!minOrderValue()"
      (click)="sendOrderRequest()"
    >
      <p>Bestellanfrage schicken</p>
      <p>{{ getTotalPrice() }} €</p>
    </button>
  </main>
</div>
