<div class="background-div-large-screen">
  <main #Shopping_Basket>
    <section class="headline-and-closing-button">
      <h1>Bestellung:</h1>
      <button>
        <img
          src="./assets/img/icons8-close-50.png"
          (click)="closeShoppingBasket()"
        />
      </button>
    </section>

    <section class="order-overview-section">
      <div
        #Order_Overview
        class="order-overview"
        [style.border-radius]="getBorderRadius()"
      >
        <app-shopping-basket-item
          *ngFor="let dish of getShoppingBasket(); let i = index"
          [dish]="dish"
          [index]="i"
          (changedItemAmount)="onChangedItemPrice($event)"
          (removeItem)="onRemoveItem($event)"
        ></app-shopping-basket-item>
        <!--  </Section> -->
        <div class="message-shoppingBasket-empty" *ngIf="basketIsEmpty()">
          <img src="./assets/img/ShoppingBasket.png" />
          <h2>Warenkorb leer</h2>
        </div>
        <img
          src="./assets/img/ArrowBottom.png"
          #Arrow_Bottom
          class="arrow-bottom d-none"
        />
      </div>
    </section>

    <section
      class="pick-up-time"
      *ngIf="minOrderValue()"
      [style.border-radius]="getBorderRadius()"
    >
      <img src="./assets/img/pick-up-food-shopping-basket.png" />
      <div class="pick-up-text">
        <h3>Abholung:</h3>
        <p>15 Minuten</p>
        <p>{{ pickupTime }}</p>
        <div class="loading-dots-div">
          <p class="loading-dot"></p>
          <p class="loading-dot"></p>
          <p class="loading-dot"></p>
        </div>
      </div>
    </section>

    <div
      class="minimum-order-value-notification"
      *ngIf="checkoutConditionsAreMet()"
    >
      <p>Mindestbestellwert: 20 €</p>
    </div>

    <div
      class="total-price-div"
      *ngIf="!basketIsEmpty()"
      [ngClass]="{ 'ready-to-checkout': minOrderValue() }"
    >
      <p>Zum Bezahlvorgang</p>
      <p>{{ getTotalPrice() }} €</p>
    </div>
  </main>
</div>
