<main #Shopping_Basket>
  <h1>Bestellung</h1>
  <img
    src="./../../../../assets/img/icons8-close-50.png"
    (click)="closeShoppingBasket()"
  />

  <section class="order-overview">
    <app-shopping-basket-item
      *ngFor="let dish of getShoppingBasket(); let i = index"
      [dish]="dish"
      [index]="i"
      (changedItemAmount)="onChangedItemPrice($event)"
      (removeItem)="onRemoveItem($event)"
    ></app-shopping-basket-item>
  </section>

  <div class="total-price-div">
    <p>Gesamtpreis:</p>
    <p>{{ getTotalPrice() }} €</p>
  </div>
</main>
