<div class="background-div-large-screen">
  <main #Shopping_Basket>
    <section class="headline-and-closing-button">
      <h1>Bestellung:</h1>
      <button>
        <img
          src="./../../../../assets/img/icons8-close-50.png"
          (click)="closeShoppingBasket()"
        />
      </button>
    </section>

    <section class="order-overview-section">
      <div class="order-overview" [style.border-radius]="getBorderRadius()">
        <app-shopping-basket-item
          *ngFor="let dish of getShoppingBasket(); let i = index"
          [dish]="dish"
          [index]="i"
          (changedItemAmount)="onChangedItemPrice($event)"
          (removeItem)="onRemoveItem($event)"
        ></app-shopping-basket-item>
      </div>
    </section>

    <section class="pick-up-time">
      <img src="/assets/img/pick-up-food-shopping-basket.png" />
      <div class="pick-up-text">
        <h3>Abholung:</h3>
        <p>15 Minuten</p>
        <div class="loading-dots-div">
          <p class="loading-dot"></p>
          <p class="loading-dot"></p>
          <p class="loading-dot"></p>
        </div>
      </div>
    </section>

    <!-- <section class="order-overview-section">
    <div class="order-overview">
      <app-shopping-basket-item
        *ngFor="let dish of getShoppingBasket(); let i = index"
        [dish]="dish"
        [index]="i"
        (changedItemAmount)="onChangedItemPrice($event)"
        (removeItem)="onRemoveItem($event)"
      ></app-shopping-basket-item>
    </div>
  </section> -->

    <div class="total-price-div">
      <p>Zum Bezahlvorgang</p>
      <p>{{ getTotalPrice() }} €</p>
    </div>
  </main>
</div>
