<main class="one-order">
  <section class="left">
    <span>
      <h4>{{ order.timestamp | date : "dd.MM.yyyy" }}</h4>
      <p>{{ order.timestamp | date : "HH:mm" }}</p>
    </span>
    @for (dish of order.order; track $index) {
    <app-dish [dish]="dish"></app-dish>
    @if ($index < order.order.length -1) {
    <p class="divider-thin"></p>
    } }
    <p class="divider"></p>
    <div class="order-footer">
      <span>
        <h4>Status:</h4>
        @if (order.status ==='open') {
        <div class="order-status">
          <p>Offen</p>
          <i class="pi pi-spin pi-cog" style="font-size: 1.25rem"></i>
        </div>
        }@else {
        <div class="order-status">
          <p>Abgeschlossen</p>
          <i class="pi pi-check-circle"></i>
        </div>
        }
      </span>
      <span>
        <h4>Gesamt:</h4>
        <p>{{ calculateTotalPrice(order) | euroCurrency }}€</p>
      </span>
    </div>
    @if (order.status === 'open') {
    <p-button label="Bestellung stornieren" severity="danger" />
    }
  </section>
</main>
