<section id="Food_Choice" class="food-choice">
  <h2>Unsere Speisekarte</h2>
  <nav #Food_Navigation class="food-navigation">
    <img
      src="../../../assets/img/food-menu-nav-arrow-left.png"
      #Arrow_Left
    />
    <a
      href="#"
      id="Popular_Dishes"
      onclick="event.preventDefault();renderPopularDishes()"
      >Beliebte Gerichte</a
    >

    <a
      href="#"
      id="Appetizer"
      onclick="event.preventDefault();renderSection(appetizer, 'Vorspeisen', 'Appetizer',this)"
      >Vorspeisen</a
    >
    <a
      href="#"
      id="Sides"
      onclick="event.preventDefault();renderSection(Sides, 'Beilagen', 'Sides',this)"
      >Beilagen</a
    >
    <a
      href="#"
      id="Quick_Dishes"
      onclick="event.preventDefault();renderSection(quickDishes, 'Schnelle Gerichte', 'Quick_Dishes')"
      >Schnelle Gerichte</a
    >
    <a
      href="#"
      id="Kids"
      onclick="event.preventDefault();renderSection(kids, 'Kinder', 'Kids')"
      >Kinder</a
    >
    <a
      href="#"
      id="Schnitzel"
      onclick="event.preventDefault();renderSection(schnitzel, 'Schnitzel', 'Schnitzel')"
      >Schnitzel</a
    >
    <a
      href="#"
      id="Grill"
      onclick="event.preventDefault();renderSection(grilledDishes, 'Vom Grill', 'Grill')"
      >Vom Grill</a
    >
    <a
      href="#"
      id="Gyros_Dishes"
      onclick="event.preventDefault();renderSection(gyrosDishes, 'Gyros Gerichte', 'Gyros_Dishes')"
      >Gyros Gerichte</a
    >
    <a
      href="#"
      id="Pita"
      onclick="event.preventDefault();renderSection(pitaDishes, 'Pita', 'Pita')"
      >Pita</a
    >
    <a
      href="#"
      id="Sauces"
      onclick="event.preventDefault();renderSection(sauces, 'Saucen', 'Sauces')"
      >Saucen</a
    >
    <img
      src="../../../assets/img/food-menu-nav-arrow-right.png"
      class="arrow-right"
      #Arrow_Right
    />
  </nav>
</section>
