<section id="Food_Choice" class="food-choice">
  <h2>Unsere Speisekarte</h2>
  <nav #Food_Navigation class="food-navigation">
    <img
      src="./assets/img/icons8-left-arrow-50.png"
      #Arrow_Left
      (click)="scrollLeft()"
    />
    <p #Popular_Dishes (click)="updateSelectedFoodType(0, 'Beliebte Gerichte')">
      Beliebte Gerichte
    </p>
    <p #Appetizer (click)="updateSelectedFoodType(1, 'Vorspeisen')">
      Vorspeisen
    </p>
    <p #Salads (click)="updateSelectedFoodType(2, 'Salate')">Salate</p>
    <p #Sides (click)="updateSelectedFoodType(3, 'Beilagen')">Beilagen</p>
    <p #Quick_Dishes (click)="updateSelectedFoodType(4, 'Schnelle Gerichte')">
      Schnelle Gerichte
    </p>
    <p #Kids (click)="updateSelectedFoodType(5, 'Kinder')">Kinder</p>
    <p #Schnitzel (click)="updateSelectedFoodType(6, 'Schnitzel')">Schnitzel</p>
    <p #Grill (click)="updateSelectedFoodType(7, 'Vom Grill')">Vom Grill</p>
    <p #Gyros_Dishes (click)="updateSelectedFoodType(8, 'Gyros Gerichte')">
      Gyros Gerichte
    </p>
    <p #Pita (click)="updateSelectedFoodType(9, 'Pita')">Pita</p>
    <p #Sauces (click)="updateSelectedFoodType(10, 'Saucen')">Saucen</p>
    <img
      src="./assets/img/icons8-forward-50.png"
      class="arrow-right"
      #Arrow_Right
      (click)="scrollRight()"
    />
  </nav>
</section>

<h2 class="selected-food-type" #Selected_Food_Type>Beliebte Gerichte</h2>
