<div class="background">
  <main>
    <h2>Registrierung</h2>

    <section class="register-form">
      <app-register-inputfield
        *ngFor="let field of inputfields"
        [name]="field.name"
        [imgSrc]="field.imgSrc"
      ></app-register-inputfield>

      <span>
        <input [(ngModel)]="acceptTerms" type="checkbox" name="" id="" />
        <p>Ich akzeptiere die AGB</p>
      </span>
      <button (click)="addUser()">Registrieren</button>
    </section>
  </main>
</div>

<!-- BEIM BUTTON -->
<!-- 
[disabled]="!checkRegisterRequirements()" [ngClass]="{ 'enable-register-button':
checkRegisterRequirements() }" -->
