<div class="background">
  <main>
    <h2>Registrierung</h2>

    <section class="register-form">
      <input [(ngModel)]="name" type="text" placeholder="Name" />
      <input [(ngModel)]="email" type="email" placeholder="E-Mail" />

      <aside class="position-password-requirements">
        <section class="password-requirements" *ngIf="showPasswordRequirements">
          <span>
            <img
              [src]="
                passwordIsLongEnough()
                  ? './assets/img/fulfilledRequirements.png'
                  : './assets/img/unfulfilledRequirements.png'
              "
            />
            <p>Passwort muss min. 10 Zeichen lang sein</p>
          </span>
          <span>
            <img
              [src]="
                passwordHasCapitalLetter()
                  ? './assets/img/fulfilledRequirements.png'
                  : './assets/img/unfulfilledRequirements.png'
              "
            />
            <p>Passwort muss min. einen Großbuchstaben enthalten</p>
          </span>
          <span>
            <img
              [src]="
                passwordContainsNumber()
                  ? './assets/img/fulfilledRequirements.png'
                  : './assets/img/unfulfilledRequirements.png'
              "
            />
            <p>Passwort muss min. eine Zahl enthalten</p>
          </span>
        </section>
        <input
          [(ngModel)]="password"
          (focus)="onFocusPassword()"
          (blur)="onBlurPassword()"
          type="password"
          placeholder="Passwort"
        />
      </aside>

      <input
        [(ngModel)]="confirmPassword"
        type="password"
        placeholder="Passwort wiederholen"
      />
      <span>
        <input [(ngModel)]="acceptTerms" type="checkbox" name="" id="" />
        <p>Ich akzeptiere die AGB</p>
      </span>
      <button
        [disabled]="!checkRegisterRequirements()"
        [ngClass]="{ 'enable-register-button': checkRegisterRequirements() }"
      >
        Registrieren
      </button>
    </section>
  </main>
</div>
